

body
    {
        margin:0;
        padding:0;
		margin-left: 4%;
        font-family:Arial;
        font-size:18px;
        background-color: black; 
        color: white; 
        max-width: 540px;
        width:100%;
        overflow-x:hidden;
    } 
    
a:hover { color: rgb(255, 255, 255);
    text-decoration: underline;
    }

a { color: rgb(200,200,200);
	text-decoration: italic;
}
   
    
input.button, button {
	 border-radius: 8px;
	 font-size: 20px;
	 background-color: #D3D3D3;
	 color: #000000;
}

button[disabled], button:disabled {
	 border-radius: 8px;
	 font-size: 20px;
	 background-color: #808080;
	 color: #000000;
}

/*does not work yet: 

input.radio, input[type="radio"] { 

	border: 0px;
	width:100%;
	height:2em;	
}*/


input.range {  
    -webkit-appearance: none;  
    width: 150px;  
    border-radius: 1px;  
    height: 2px;  
    border: 1px solid #bdc3c7;  
    background-color: #fff; 
}

input[type='range']::-moz-range-track {
-moz-appearance: none;
width: 150px; 
border-radius: 5px;
box-shadow: inset 0 0 5px #333;
background-color: #fff;
height: 2px;
}

input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none !important;
border-radius: 10px;
background-color: #FFF;
box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
border: 1px solid #999;
height: 40px;
width: 20px;
}

input[type='range']::-moz-range-thumb {
-moz-appearance: none;
border-radius: 10px;
/*background-color: #FFF;
box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
border: 1px solid #999;*/
height: 40px;
width: 20px;
}


 
